path#Jungle{
    fill: rgb(136, 187, 68);
    stroke: rgb(0, 0, 0);
    stroke-width:1px;
    pointer-events:all;
    
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}
path#TopLane, path#MidLane, path#BotLane{
    fill: rgb(255, 238, 170);
    pointer-events:all;
    
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}
path#Jungle:hover, path#TopLane:hover, path#MidLane:hover, path#BotLane:hover{
    fill: rgb(210, 105, 30);

}

/*testing css for the div row*/

#SvgRiftMap{
    width: 50vh;
    height: 50vh;
    float: left;
}


* {
    box-sizing: border-box;
}

.row {
    flex-wrap: wrap;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 5px;
    max-width: 50vw;
}
.column#wideChart{
    width: 50vw !important;
    height: 50vh;
}



.column#GoldChart{
    max-width: fit-content;
}