.svg {
    width: 200px;
    height: 200px;
}

path#Jungle{
    fill:#8b4;
    stroke:#000;
    stroke-width:1px;
    pointer-events:all;
    
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

path{
    fill: #fea;
    pointer-events:all;
    
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}
path:hover{
    fill: chocolate;
}
path#Jungle:hover{
    fill: chocolate;
}

.selected{
    fill: chocolate;
}
